VITE_FIREBASE_API_KEY=AIzaSyBfxVuNq-TWOWSOLNvw-dgm0NZqP8ZDEzk
VITE_FIREBASE_AUTH_DOMAIN=bracu-cse-playlist-porta-8d6b8.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=bracu-cse-playlist-porta-8d6b8
VITE_FIREBASE_STORAGE_BUCKET=bracu-cse-playlist-porta-8d6b8.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=507182391925
VITE_FIREBASE_APP_ID=1:507182391925:web:0c4463d302aee51cac4e3c
